

.weather{
  background-color: #282c34;
  height: 500px;
  width: 400px;

  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: white;
}

.weather button,input {
  padding: 20px;
  margin-top: 2em;
  font-size: 1.2rem;
}

::placeholder{
  color: #61dafb;
}
.weather button,input{
  background-color: #61dafb;
  height: 30px;
  width: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather button:hover {
  background-color: #fff;
  color: #61dafb; 
}

input{
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
}


.main{
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
